<h1><%= title %></h1>

<%- messages() %>

<div class="user-menu">
    <h2>Welcome <%= locals.firstname %>!</h2>

    <a href="/account/update/<%= locals.accountId %>" class="editInfo">Edit account information</a>

    <% if (locals.accountType === 'Employee' || locals.accountType === 'Admin') { %>
        <h3>Inventory Management</h3>
        <a href="/inv/management">Manage Inventory</a>
    <% } %>
</div>