<% if (title) { %>
<h1><%= title %></h1>
<% } else { %>
<h1>Error</h1>
<% } %>

<div class="error-message">
    <p><%- message %></p>
    <p>
        Oops! Looks like something went wrong. But hey, even errors can have a sense
        of humor!
    </p>
    <% if (message && message.includes('404')) { %>
    <p>
        404 - The page you are looking for must have taken a coffee break ☕️. Try
        going back or checking the URL.
    </p>
    <% } %>
</div>
